<div class="event-detail" ng-controller="EventView as EventCtrl">
  <div class="list">
    <div class="event-main-wrap">
      <div class="item">
        <p class="event-title">{{EventCtrl.event.title}}</p>
        <p class="event-time" ng-bind="EventCtrl.event.eventTime1"></p>
        <p><span ng-bind="EventCtrl.event.eventTime2"></span></p>
      </div>
    </div>
    <div class="item list-title">
      信息
    </div>
    <div class="ionic">
      <div class="item item-icon-left">
        <i class="icon icon-location"></i>
        <span class="event-location" ng-bind="EventCtrl.event.location || '添加地点'"></span>
      </div>
    </div>
    <div class="item list-title">
      更多
    </div>
    <div class="event-detail-wrap ionic">
      <a class="item item-icon-left" on-tap="DetailCtrl.openEdit('note')">
        <i class="icon icon-wall"></i>
        <span class="event-content margin-left" ng-bind-html="EventCtrl.event.contentToDisplay || '添加备注'"></span>
      </a>
      <a class="item item-icon-left" on-tap="DetailCtrl.openEdit('recurrence')">
        <i class="icon icon-repeat"></i>
        <span class="event-recurrence margin-left" ng-bind="EventCtrl.event.recurrenceTime | recurrenceStr"></span>
      </a>
      <a class="item item-icon-left" on-tap="DetailCtrl.openLinked()" ng-if="EventCtrl.event.linked.length">
        <i class="icon icon-link2"></i>
        <span class="margin-left">{{EventCtrl.event.linked.length}}个关联</span>
      </a>
    </div>
    <div class="involve-wrap ionic" on-tap="DetailCtrl.openEdit('involve')">
      <div-item class="item list-title">
        参与者
      </div-item>
      <div class="item item-icon-left detail-involves">
        <i class="icon icon-users"></i>
        <span class="member-name-wrap">
          <span ng-bind="DetailCtrl.getInvolves()"></span>
        </span>
      </div>
    </div>
  </div>
</div>
