<ion-view class="padding" ng-controller="PanelTasklistView as PanelTaskCtrl">
  <ion-content>
    <div class="list tasks-list">
      <div class="item item-divider half-divider icon-right">
        <span class="notify-text"
              ng-if="PanelTaskCtrl.showNotify">
          你创建了1条任务，<span class="positive" on-tap="PanelTaskCtrl.shareTask()">发送群通知</span>
          给群成员
        </span>
        <i class="icon icon-circle-remove"
           ng-if="PanelTaskCtrl.showNotify"
           on-tap="PanelTaskCtrl.hideNotify()"></i>
      </div>
      <a class="item task-create-btn" on-tap="PanelTaskCtrl.openCreate()">
        <i class="icon icon-plus"></i>
        <span>添加任务</span>
      </a>
      <div class="list task-list"
           ng-if="PanelTaskCtrl.tasks[stage._id].length"
           ng-repeat="stage in PanelTaskCtrl.stages track by stage._id">
        <div class="item item-divider"
             ng-class="{'half-divider': !$last}"
             ng-if="$last || $first">
            <span ng-if="$last">{{stage.name}} ● {{PanelTaskCtrl.tasks[stage._id].length}}项</span>
            <i ng-if="$last" class="icon icon-chevron-down"></i>
        </div>
        <a class="item item-icon-left task-item"
           ng-class="{'task-has-done': task.isDone,
                      'task-priority': task.priority > 0,
                      'task-priority-high': task.priority == 1,
                      'task-priority-urgent': task.priority == 2}"
           on-tap="PanelTaskCtrl.openTaskDetail(task._id)"
           ng-repeat="task in PanelTaskCtrl.tasks[stage._id] track by task._id">
          <i class="icon task-icon"
             ng-class="{'icon-checkbox-thin': !task.isDone,
                        'icon-checkbox-ios-checked': task.isDone}"></i>
          <div class="task-content"
               ng-class="{'task-has-due': task.dueDate}">
            <div class="task-title">{{task.content}}</div>
            <div class="bages">
              <time ng-if="task.dueDate"
                    ng-class="{'task-over-due': task.overDue}">
                {{task.dueDate | formatDate : 'MM月DD日'}}
              </time>
              <i ng-if="task.attachmentsCount" class="icon icon-paperclip"></i>
              <i ng-if="task.objectlinksCount" class="icon icon-link2"></i>
            </div>
          </div>
          <div class="icon task-avatar"
               ng-style="{'background-image': 'url(' + PanelTaskCtrl.getAvatar(task) + ')'}">
          </div>
        </a>
      </div>
    </div>
  </ion-content>
  <div ng-if="!PanelTaskCtrl.taskLength" class="empty-warn project-task"></div>
</ion-view>
