<ion-view class="create-project-view"
          ng-controller="CreateProjectView as CreateProjectCtrl">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="项目名称" ng-model="CreateProjectCtrl.projectName">
      </label>
      <div class="selector-wrap ionic">
        <a class="item">
          所有者
          <span ng-bind="CreateProjectCtrl.getOrganization()"></span>
        </a>
        <!--<a class="item" on-tap="CreateProjectCtrl.openVisiable()">
          可见性
          <span ng-bind="CreateProjectCtrl.getVisiable()"></span>
        </a>-->
      </div>
    </div>
  </ion-content>
</ion-view>