<ion-view class="edit-priority-view" ng-controller="CreatetaskPriorityView as CreatetaskPriorityCtrl">
  <ion-content>
    <div class="list">
      <div ng-repeat="item in CreatetaskPriorityCtrl.PRIORITY"
           class="item item-avatar item-icon-right"
           on-tap="CreatetaskPriorityCtrl.selectPriority($index)">
        <div class="icon icon-circle-bold priority-icon-left priority-{{item.priority}}"></div>
        <span class="pirority-name">{{item.name}}</span>
        <i ng-if="CreatetaskPriorityCtrl.task.priority === $index" class="icon icon-tick-thin positive"></i>
        <div class="divider" ng-if="!$last"></div>
      </div>
    </div>
  </ion-content>
</ion-view>