// Global reference
@import "../../reference.less";

.event-detail {
  margin-bottom: 0;
  .event-main-wrap{
    margin-bottom: 15px;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, .03);
    .event-title {
      color: @darkTextColor;
      font-size: 28px;
      line-height: 28px;
    }
    .event-time{
      margin-top: 15px;
    }
  }
  .event-detail-wrap{

    overflow: hidden;
    border-top: 1px solid rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .03);
    .item{
      padding: 12px 16px 12px 36px;
    }
    .event-content, .event-location{
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      display: flex;
      display: -webkit-flex;
      margin-left: 15px;
    }
  }
  .item {
    > p {
      margin: 0;
      color: @grayTextColor;
    }
    p {
      overflow: initial;
      text-overflow: initial;
      white-space: normal;
    }
    .item-value {
      float: right;
      max-width: 60%;
      color: @darkTextColor;
      margin-right: 5px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .event-executor-wrap{
    margin-top: 15px;
    overflow: hidden;
    border-top: 1px solid rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .03);
  }
}
