<ion-view ng-controller="EditDuedateView as EditDuedateCtrl" class="edit-duedate-view">
  <ion-content>
    <ul class="list ionic">
      <li class="item item-toggle">
        截止日期
        <label class="toggle toggle-positive">
          <input type="checkbox" ng-model="_dueDate.displayDuedate">
          <div class="track">
          <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item" ng-show="_dueDate.displayDuedate" ng-bind="_dueDate.defaultDuedate | formatDate : 'll'"></li>
      <label class="item item-input">
        <span class="input-label">日期</span>
        <input type="date" ng-model="_dueDate.defaultDuedate" ng-model-options="{ getterSetter: true }">
      </label>
    </ul>
  </ion-content>
</ion-view>
