<ion-view ng-controller="EditRecurrenceView as EditRecurrenceCtrl"
          class="edit-recurrence-view">
  <ion-content>
    <div class="list">
      <div class="item item-icon-right" ng-repeat="item in EditRecurrenceCtrl.recurrence track by $index" on-tap="EditRecurrenceCtrl.chooseRecurrence($index)">
        <span class="recurrence-name">{{item.name}}</span>
        <i ng-if="item.isSelected" class="icon icon-tick-thin positive"></i>
        <div class="divider" ng-if="!$last"></div>
      </div>
    </div>
  </ion-content>
</ion-view>
