<ion-modal-view class="edit-exector-view">
  <ion-content>
    <div class="list executor-members">
      <div class="item item-avatar item-icon-right"
           ng-repeat="member in CreateTaskCtrl.members track by member._id"
           on-tap="CreateTaskCtrl.chooseExecutor(member._id)">
        <div class="avatar item-image"
             style="background-image: url({{member.avatarUrl}})">
        </div>
        <h2 class="excutor-member-name">{{member.name}}</h2>
        <i ng-show="member._id === CreateTaskCtrl._executorId" class="icon icon-tick-thin positive"></i>
        <div class="divider" ng-if="!$last"></div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
