<ion-view class="create-task-view"
          ng-controller="CreateTaskView as CreateTaskCtrl">
  <ion-content>
    <div class="list ionic">
      <div-item class="item item-input task-title">
        <textarea type="text"
                  placeholder="任务标题"
                  ng-model="CreateTaskCtrl.task.content">
        </textarea>
      </div-item>

      <div class="task-info-wrap ionic">
        <div-item class="item list-title">
          信息
        </div-item>
        <a class="item item-detail-avatar" on-tap="CreateTaskCtrl.openExecutor()">
          <img ng-src="{{CreateTaskCtrl.getExecutorAvatar()}}" class="task-executor-avatar">
          <span class="task-executor-name">{{CreateTaskCtrl.getExecutorName()}}</span>
          <div class="divider"></div>
        </a>
        <div class="item item-icon-left">
          <i class="icon icon-calendar2"></i>
          <div class="data-picker-wrap">
            <div class="task-time">
              <span ng-if="!CreateTaskCtrl.task.dueDate">没有设置截止日期</span>
              <span ng-if="CreateTaskCtrl.task.dueDate">{{CreateTaskCtrl.task.dueDate | formatDate : 'MoDo dddd'}}</span>
              <input type="date"
                     class="date-yy-mm-dd"
                     ng-model="CreateTaskCtrl.task.dueDate"
                     ng-model-options="{ getterSetter: true }">
            </div>
            <div class="task-time">
              <span ng-if="CreateTaskCtrl.task.dueDate">{{CreateTaskCtrl.task.dueDate | formatDate : 'hh:mm'}}</span>
              <input type="datetime-local"
                     class="date-dd-mm-ss"
                     ng-model="CreateTaskCtrl.task.dueDate"
                     ng-model-options="{ getterSetter: true }">
            </div>
            <div class="divider"></div>
          </div>
        </div>
      </div>

      <div-title class="item list-title">
        参与者
      </div-title>
      <div class="ionic">
        <a class="item item-icon-left"
             on-tap="CreateTaskCtrl.openInvolve()">
          <i class="icon icon-users"></i>
          <span ng-bind="CreateTaskCtrl.getInvolveNames()"></span>
        </a>
      </div>
      <div-title class="item list-title">
        更多
      </div-title>
      <div class="ionic more-info-wrap animated">
        <div-item class="item item-icon-left"
                  on-tap="CreateTaskCtrl.showMoreInfo()"
                  ng-if="!CreateTaskCtrl.task.showMore">
          <i class="icon icon-more"></i>
          <span>备忘，优先级，重复</span>
        </div-item>
        <a class="item item-icon-left"
           on-tap="CreateTaskCtrl.openNote()"
           ng-if="CreateTaskCtrl.task.showMore">
          <i class="icon icon-book"></i>
          <span>{{CreateTaskCtrl.task.note}}<span ng-if="!CreateTaskCtrl.task.note">添加备注</span></span>
          <div class="divider"></div>
        </a>
        <div class="animate-item-wrap animated"
             ng-if="CreateTaskCtrl.task.showMore">
          <a class="item item-icon-left" on-tap="CreateTaskCtrl.openPriority()">
            <i class="icon icon-circle-bold priority-{{CreateTaskCtrl.task.priority || 0}}"></i>
            <span>{{CreateTaskCtrl.getPriorityName()}}</span>
            <div class="divider"></div>
          </a>
          <a class="item item-icon-left" on-tap="CreateTaskCtrl.openRecurrence()">
            <i class="icon icon-review"></i>
            <span>{{CreateTaskCtrl.task.recurrenceName || '设置重复周期'}}</span>
          </a>
        </div>
      </div>
    </div>
    <div class="button button-block button-positive"
         on-tap="CreateTaskCtrl.createTask()">
      确定
    </div>
  </ion-content>
</ion-view>
