<ion-view ng-controller="EditInvolveView as EditInvolveCtrl" class="edit-involve-view">
  <ion-content>
    <div class="list executor-members">
      <div class="item item-avatar item-icon-right" ng-repeat="member in EditInvolveCtrl.members track by member._id" on-tap="EditInvolveCtrl.selectExecutor(member._id)">
        <div class="avatar item-image" style="background-image: url({{member.avatarUrl}})"></div>
        <h2 class="excutor-member-name">{{member.name}}</h2>
        <i ng-if="member.isSelected" class="icon icon-tick positive"></i>
      </div>
    </div>
  </ion-content>
</ion-view>
