<ion-view ng-controller="PanelHomeView as PanelHomeCtrl" class="project-avtivities-pane">
  <ion-content class="panel-content has-tabs" on-scroll="PanelHomeCtrl.scrollHandler()">
    <div class="banner" ng-controller="BannerView as BannerCtrl">
      <div class="banner-logo"></div>
      <h2>用 Teambition App 打开</h2>
      <div class="button button-positive" on-tap="BannerCtrl.openUniversalLink()">打开</div>
    </div>
    <div class="project-header">
      <div class="project-header-img"
           ng-style="{'background-image': 'url(' + PanelHomeCtrl.project.logo + ')'}">
      </div>
      <div class="project-header-info">
        <h2 class="project-title">{{PanelHomeCtrl.project.name}}</h2>
        <a class="project-member-count">{{PanelHomeCtrl.getMemberLength()}}个成员</a>
      </div>
      <div class="project-header-list">
        <a class="involve-member avatar img-circle"
           ng-repeat="member in PanelHomeCtrl.membersMap | memberLimit: 8 track by member._id"
           ng-if="member._id != 0"
           ng-style="{'background-image': 'url(' + member.avatarUrl + ')'}"></a>
        <span class="involve-member-add clearfix"
              ng-if="Object.keys(PanelHomeCtrl.membersMap).length < 9">
          <i class="icon icon-more"></i>
        </span>
      </div>
    </div>

    <div class="ion-wrap" ng-if="PanelHomeCtrl.noneExecutorTasks.length">
      <div class="list ionic list-none-executor">
        <div-title class="item item-title">
          <i class="icon icon-alert-clock"></i>
          <span class="task-type-title">待认领的任务</span>
        </div-title>
        <div class="ion-title-line"></div>
        <a class="item item-task"
           ng-repeat="task in PanelHomeCtrl.noneExecutorTasks track by task._id"
           on-tap="PanelHomeCtrl.openDetail('/detail/task/{{task._id}}', 'task')">
          <i class="icon icon-checkbox-thin"></i>
          <span class="task-content" ng-bind="task.content"></span>
        </a>
        <a class="item item-icon-left item-more"
           ng-if="PanelHomeCtrl.noneExecutorTasks.length !== PanelHomeCtrl._noneExecutorTasks.length"
           on-tap="PanelHomeCtrl.loadNoneExecutor()">
          <i class="icon ion-more positive"></i>
          <p class="positive">查看更多</p>
        </a>
      </div>
    </div>

    <div class="ion-wrap" ng-if="PanelHomeCtrl.eventGroup.length || PanelHomeCtrl.dueTasks.length">
      <div class="list ionic list-today"
            ng-if="PanelHomeCtrl.eventGroup.length || PanelHomeCtrl.dueTasks.length">
        <div-title class="item item-title">
          <span class="item-title-icon">
            <i class="icon icon-alert-clock"></i>
          </span>
          <span class="task-type-title">今天的事</span>
        </div-title>
        <div class="ion-title-line"></div>
        <div-item class="item item-event"
            ng-repeat="event in PanelHomeCtrl.eventGroup track by event._id"
            on-tap="PanelHomeCtrl.openDetail('/detail/event/{{event._id}}', 'event')">
          <i class="icon icon-calendar2"></i>
          <span class="task-content" ng-bind="event.title"></span>
          <span class="event-date" ng-bind="event.startDate | eventDateFormat: event.endDate : event.title"></span>
        </div-item>
        <div-item class="item item-task"
           ng-repeat="task in PanelHomeCtrl.dueTasks track by task._id"
           on-tap="PanelHomeCtrl.openDetail('/detail/task/{{task._id}}', 'task')">
          <i class="icon icon-checkbox-thin"></i>
          <span class="task-content" ng-bind="task.content"></span>
          <span class="task-duedate" ng-class="{'badge-assertive': task.overDue, 'badge-energized': task.oneDay}">
            <span class="due-date-display" ng-bind="task.dueDate | formatDate: 'calendar'"></span>
          </span>
        </div-item>
        <div-item class="item item-icon-left item-more" ng-if="PanelHomeCtrl.dueTasks.length !== PanelHomeCtrl._dueTasks.length" on-tap="PanelHomeCtrl.loadDue()">
          <i class="icon ion-more positive"></i>
          <p class="positive">查看更多</p>
        </div-item>
      </div>
    </div>

    <div class="ion-wrap activities-wrap">
      <div class="list activities-list">
      </div>
    </div>
    <ion-infinite-scroll immediate-check="false"
         ng-if="PanelHomeCtrl.infinite">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
