<ion-view class="project-work-view" ng-controller="PanelWorkView as PanelWorkCtrl">
  <ion-content>
    <div class="list ionic">
      <span class="item item-divider" ng-if="PanelWorkCtrl.collections.length">
        文件夹
      </span>
      <a class="item item-icon-left"
         ng-repeat="collection in PanelWorkCtrl.collections track by collection._id"
         on-tap="PanelWorkCtrl.openCollection(collection._id)">
        <i class="icon icon-folder"></i>
        <span ng-bind="::collection.title" class="collection-name"></span>
      </a>
      <span class="item item-divider" ng-if="works.length">
        文件
      </span>
      <a class="item item-avatar" ng-repeat="work in PanelWorkCtrl.works track by work._id" on-tap="PanelWorkCtrl.openDetail(work._id)">
        <img class="item-thumbnail" ng-if="work.thumbnail" ng-src="{{::work.thumbnail}}">
        <div class="file-background {{::work.fileType}}" ng-if="!work.thumbnail">
          <span ng-bind="::work.fileType" class="item-fileType {{::work.class}}"></span>
        </div>
        <span class="item-file-name" ng-bind="::work.fileName"></span>
      </a>
    </div>
  </ion-content>
  <div ng-show="!PanelWorkCtrl.works.length && !PanelWorkCtrl.collections.length" class="empty-warn project-work"></div>
</ion-view>
