<ion-view class="detail-view" ng-class="{'big-footer': images.length}" ng-controller="DetailCtrl">
  <ion-content>
    <div ng-include="objectTpl"></div>
  </ion-content>
  <ion-footer-bar class="bar-stable detail-footer">
    <div class="item item-input-inset item-comment">
      <i class="icon icon-paperclip"
        open-file="loadedImages(images)"
        open-file-accept="image/png,image/gif,image/jpeg"
        open-file-filter="isImageFile(file)"
        open-file-multiple="true"></i>
      <div class="item-input-wrapper">
        <input type="text" placeholder="评论..." ng-model="comment.content">
        <div class="comment-images">
          <div class="comment-image" ng-repeat="item in images">
            <img ng-src="{{item.url}}">
            <i class="icon ion-ios-close comment-image-close" on-tap="removeImage($index)"></i>
          </div>
        </div>
      </div>
      <span class="button button-clear button-send-comment" ng-class="{'btnActive': hasContent()}" on-tap="addComment()">
        发送
      </span>
    </div>
  </ion-footer-bar>
</ion-view>
